div.source {width: 55%; padding: 0 1rem; margin-left: -1rem; background-color: #eee; border: 1px solid #aaa;}
.source .hll { background-color: #ffffcc }
.source .c { color: #999988; font-style: italic } /* Comment */
.source .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.source .k { color: #000000; font-weight: bold } /* Keyword */
.source .o { color: #000000; font-weight: bold } /* Operator */
.source .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.source .cp { color: #999999; font-weight: bold; font-style: italic } /* Comment.Preproc */
.source .c1 { color: #999988; font-style: italic } /* Comment.Single */
.source .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.source .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.source .ge { color: #000000; font-style: italic } /* Generic.Emph */
.source .gr { color: #aa0000 } /* Generic.Error */
.source .gh { color: #999999 } /* Generic.Heading */
.source .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.source .go { color: #888888 } /* Generic.Output */
.source .gp { color: #555555 } /* Generic.Prompt */
.source .gs { font-weight: bold } /* Generic.Strong */
.source .gu { color: #aaaaaa } /* Generic.Subheading */
.source .gt { color: #aa0000 } /* Generic.Traceback */
.source .kc { color: #000000; font-weight: bold } /* Keyword.Constant */
.source .kd { color: #000000; font-weight: bold } /* Keyword.Declaration */
.source .kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
.source .kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
.source .kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
.source .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.source .m { color: #009999 } /* Literal.Number */
.source .s { color: #d01040 } /* Literal.String */
.source .na { color: #008080 } /* Name.Attribute */
.source .nb { color: #0086B3 } /* Name.Builtin */
.source .nc { color: #445588; font-weight: bold } /* Name.Class */
.source .no { color: #008080 } /* Name.Constant */
.source .nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
.source .ni { color: #800080 } /* Name.Entity */
.source .ne { color: #990000; font-weight: bold } /* Name.Exception */
.source .nf { color: #990000; font-weight: bold } /* Name.Function */
.source .nl { color: #990000; font-weight: bold } /* Name.Label */
.source .nn { color: #555555 } /* Name.Namespace */
.source .nt { color: #000080 } /* Name.Tag */
.source .nv { color: #008080 } /* Name.Variable */
.source .ow { color: #000000; font-weight: bold } /* Operator.Word */
.source .w { color: #bbbbbb } /* Text.Whitespace */
.source .mf { color: #009999 } /* Literal.Number.Float */
.source .mh { color: #009999 } /* Literal.Number.Hex */
.source .mi { color: #009999 } /* Literal.Number.Integer */
.source .mo { color: #009999 } /* Literal.Number.Oct */
.source .sb { color: #d01040 } /* Literal.String.Backtick */
.source .sc { color: #d01040 } /* Literal.String.Char */
.source .sd { color: #d01040 } /* Literal.String.Doc */
.source .s2 { color: #d01040 } /* Literal.String.Double */
.source .se { color: #d01040 } /* Literal.String.Escape */
.source .sh { color: #d01040 } /* Literal.String.Heredoc */
.source .si { color: #d01040 } /* Literal.String.Interpol */
.source .sx { color: #d01040 } /* Literal.String.Other */
.source .sr { color: #009926 } /* Literal.String.Regex */
.source .s1 { color: #d01040 } /* Literal.String.Single */
.source .ss { color: #990073 } /* Literal.String.Symbol */
.source .bp { color: #999999 } /* Name.Builtin.Pseudo */
.source .vc { color: #008080 } /* Name.Variable.Class */
.source .vg { color: #008080 } /* Name.Variable.Global */
.source .vi { color: #008080 } /* Name.Variable.Instance */
.source .il { color: #009999 } /* Literal.Number.Integer.Long */
